{% extends 'base.html' %}
{% load static %}

{% block body %}
        <main class="main">
            <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
                <div class="container">
                    <h1 class="page-title">درباره ما</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                        <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="about-text text-center mt-3">
                                <h2 class="title text-center mb-2">{{first.title}}</h2><!-- End .title text-center mb-2 -->
                                <p class="text-center">{{first.body|safe}}</p>
                                <img src="{{first.image_emza.url}}" alt=""
                                    class="mx-auto mb-5">

                                <img src="{{first.image.url}}" alt="image" class="mx-auto mb-6">
                            </div><!-- End .about-text -->
                        </div><!-- End .col-lg-10 offset-1 -->
                    </div><!-- End .row -->
                    <div class="row justify-content-center">
                        {% for x in Third %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-sm text-center">
                                <span class="icon-box-icon">
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">{{x.title}}</h3><!-- End .icon-box-title -->
                                    <p class="text-center">{{x.body}}
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->
                        {% endfor %}
                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div class="mb-2"></div><!-- End .mb-2 -->
                <div class="bg-light-2 pt-6 pb-7 mb-6">
                    <div class="container">
                        <h2 class="title text-center mb-4">آشنایی با تیم ما</h2><!-- End .title text-center mb-2 -->

                        <div class="row">
                            {% for x in team %}
                            <div class="col-sm-6 col-lg-3">
                                <div class="member member-2 text-center">
                                    <figure class="member-media">
                                        <img src="{{x.image.url}}" alt="توضیح عکس">

                                        <figcaption class="member-overlay">
                                            <div class="social-icons social-icons-simple">
                                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                        class="icon-facebook-f"></i></a>
                                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                        class="icon-twitter"></i></a>
                                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                                        class="icon-instagram"></i></a>
                                            </div><!-- End .soial-icons -->
                                        </figcaption><!-- End .member-overlay -->
                                    </figure><!-- End .member-media -->
                                    <div class="member-content">
                                        <h3 class="member-title">{{x.name}}<span>{{x.semat}}</span></h3>
                                        <!-- End .member-title -->
                                    </div><!-- End .member-content -->
                                </div><!-- End .member -->
                            </div><!-- End .col-lg-3 -->
                            {% endfor %}
                            
                        </div><!-- End .row -->

                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="brands-text text-center mx-auto mb-6">
                                <h2 class="title">برند های معروفی که با ما همکاری می کنند</h2>
                                <!-- End .title -->
                            </div><!-- End .brands-text -->
                            <div class="brands-display">
                                <div class="row justify-content-center">
                                    {% for x in comp %}
                                    <div class="col-6 col-sm-4 col-md-3">
                                        <a href="#" class="brand">
                                            <img src="{{x.image.url}}" alt="{{x.name}}">
                                        </a>
                                    </div><!-- End .col-md-3 -->
                                    {% endfor %}
                                </div><!-- End .row -->
                            </div><!-- End .brands-display -->
                        </div><!-- End .col-lg-10 offset-lg-1 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        {% endblock body %}